.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.App-header {
  background-color: #17191c;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.sectionOption{
  background-color: rgb(11, 201, 125);
  padding: 10px;
  margin: 10px;
}
.selectOption{
  background-color: rgb(78, 11, 201);
  border:2px solid rgb(255, 1, 1);
  padding: 10px;
  margin: 10px;
}
.singleOption{
  background-color: rgb(255, 15, 155);
  padding: 10px;
  margin: 10px;
}
.stepOptions{
  background-color: rgb(252, 173, 16);
  padding: 10px;
  margin: 10px;
}