.Step {
  text-align: center;
}

.Step-logo {
  height: 40vmin;
  pointer-events: none;
}

.Step-header {
  background-color: #17191c;
  min-height: 100vh;
body{
  color: white;
  background-color: #17191c;
  font-family: 'PT Sans Caption', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionOption{
  background-color: rgb(11, 201, 125);
  padding: 10px;
  margin: 10px;
}
.selectOption{
  background-color: rgb(78, 11, 201);
  border:2px solid rgb(255, 1, 1);
  padding: 10px;
  margin: 10px;
}
.singleOption{
  background-color: rgb(255, 15, 155);
  padding: 10px;
  margin: 10px;
}
.stepOptions{
  background-color: rgb(252, 173, 16);
  padding: 10px;
  margin: 10px;
}
.alpine{
 width: 100%;
}

.App p{
  width: 70%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container{
  margin-top: 65px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 65px;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  border: 3px solid black;
  border-radius: 15%;
  padding: 0px 30px;
  height: 500px;
  width: 500px;
  transition: 300ms;
}

.card:hover{
  transition: 300ms;
  /* box-shadow: 0px 0px 50px 5px #0009b6; */
  box-shadow: 10px 10px 8px #000899;
}

