.Step {
  text-align: center;
}

.Step-logo {
  height: 40vmin;
  pointer-events: none;
}

.Step-header {
  background-color: #17191c;
  min-height: 100vh;
}
body{
  color: white;
  background-color: #17191c;
  font-family: 'PT Sans Caption', sans-serif;
}

.App {
  text-align: center;
}

.App-header {
  min-height: 100px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.sectionOption{
  padding: 10px;
  margin: 20px 10px;
  display: flex;
  border: 1px solid white;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.sectionOption h3 {
  padding: 0 10px;
  background-color: #17191c;
}
.selectOption .selectModal {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: #000d;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  z-index: 1;
}
.selectOption .selectModal .selectOptions {
  display: flex;
  margin-top: 20px;
}
.singleOption{
  border: 1px solid #17191c;
  width: 160px;
  height: 80px;
  padding: 4px;
  margin: 10px;
  position: relative;
  font-size: 0.8em;
  cursor: pointer;
  background-color: #17191c;
}
.singleOption img {
  opacity: .5;
}
.singleOption.selected {
  border: 1px solid #eee;
}
.singleOption.selected img {
  opacity: 1;
}
.singleOption .label{
  position: absolute;
  bottom: 0px;
  left: 0;
  right: 0;
  padding: 8px;
  background-color: #0008;
  text-align: left;
}

.singleOption .price {
  position: absolute;
  background-color: #000b;
  padding: 3px 6px;
  top: 4px;
  right: 4px;
}
.stepOptions{
  padding: 10px;
  margin: 10px;
  display: flex;
  flex-wrap: wrap;
}
.alpine{
 width: 100%;
}

.App p{
  width: 70%;
  margin: auto;
  margin-top: 100px;
  margin-bottom: 100px;
}

.container{
  margin-top: 65px;
  display: flex;
  justify-content: space-around;
  align-content: center;
  margin-bottom: 65px;
}

.card{
  display: flex;
  flex-direction: row;
  justify-content: center;
  flex-wrap: wrap;
  align-content: center;
  border: 3px solid black;
  border-radius: 15%;
  padding: 0px 30px;
  height: 500px;
  width: 500px;
  transition: 300ms;
}

.card:hover{
  transition: 300ms;
  /* box-shadow: 0px 0px 50px 5px #0009b6; */
  box-shadow: 10px 10px 8px #000899;
}

