body{
    background-color: black;
}

h1{
    color:white;
    text-align: center;
}

.progressStep{
    display: flex;
    justify-content: space-around;
    
    width:60%;
    margin: auto;
    margin-top: 10%;


}
.SingleProgressStep{
    margin: 1%;
    height: 5vmin;
}
.NumberStep{
    text-align: center;
    color:white;

}
.State{
    display: flex;
    flex-direction: column;
}