body{
    background-color: black;
    background-color: #17191c;
}
.logoAlpine{
    margin-top: 5%;

}

h1{
    margin-top: 5%;
    color:#1d29fe;
    text-align: center;
    font-family: 'PT Sans Caption', sans-serif;

}

.progressStep{
    display: flex;
    justify-content: space-around;
    
    width:60%;
    margin: auto;
    margin-top: 10%;


}
.SingleProgressStep{
    margin: 1%;
    height: 5vmin;
}
.NumberStep{
    text-align: center;
    color:white;

}
.State{
    display: flex;
    flex-direction: column;
}